*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: "NetflixSans", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: black;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "NetflixSans";
  src: local("NetflixSans"), url("./fonts/netflix-sans.woff2") format("woff2"),
    url("./fonts/netflix-sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-primary: #e50914;
  --color-secondary: #141414;
  /* Accent Color */
  --color-third: #0071eb;
  --color-fourth: #ffa00a;
  --color-fifth: #5fa53f;
}

.container {
  width: 1920;
  margin: 0 auto;
  padding: 0;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: -0.5%;
}

h2 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  line-height: 55px;
  letter-spacing: -1%;
}

h3 {
  font-size: 26px;
  font-weight: normal;
  font-size: 26px;
  line-height: auto;
  letter-spacing: 0%;
}

p {
  color: white;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  letter-spacing: 0%;
}

.container {
  width: 1920px;
  margin: 0 auto;
  padding: 0;
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 56px;
}

.headerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.headerButtons select {
  background-color: #141414;
  color: white;
}

/* Dropdown */

nav {
  background-image: linear-gradient(rgba(16, 10, 81, 0.3), rgba(5, 4, 46, 0.7)),
    url("/public/assets/images/HeroImg.svg");
  width: 100%;
  height: 647px;
  background-size: cover;
  background-position: center;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.nav-header > img {
  width: 150px;
  order: 1;
}

.language-menu {
  order: 2;
  margin-left: auto;
  flex: 1;
}

.nav-header > button {
  padding: 10px 20px;
  background-color: red;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  order: 3;
}

.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  color: white;
  margin-top: 4rem;
}

.nav-content h5 {
  padding: 1rem 0;
}

input[type="text"] {
  background-color: white;
  width: 420px;
  height: 61px;
  padding: 0 25px;
  font-size: 20px;
}

input[type="submit"] {
  position: relative;
  left: -5px;
  width: 180px;
  height: 61px;
  background-color: red;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.9;
}

.language-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  margin: 1.2rem 1.5rem;
}

.language-menu .select {
  padding: 9px;
  background-color: #999999;
  background-image: linear-gradient(180deg, #000101, #000101);
  font-size: 13px;
  padding-right: 26px;
  top: 0;
  right: 0;
}

.select-wrapper {
  display: inline;
  position: relative;
}

.select-wrapper:after {
  content: url(https://raw.githubusercontent.com/colombomf/netflix-select-dropdown/abea3c2907db444c550cfb553eb494a1825d6bb0/public/assets/img/caret-down-solid.svg);
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg)
    brightness(106%) contrast(106%);
  width: 10px;
  height: 10px;
  pointer-events: none;
  position: absolute;
  right: 19px;
  top: 10px;
}

.select-wrapper:before {
  content: url(https://raw.githubusercontent.com/colombomf/netflix-select-dropdown/abea3c2907db444c550cfb553eb494a1825d6bb0/public/assets/img/globe-solid.svg);
  filter: invert(100%) sepia(94%) saturate(0%) hue-rotate(248deg)
    brightness(106%) contrast(106%);
  width: 17px;
  height: 17px;
  pointer-events: none;
  position: absolute;
  left: 12px;
  top: 12px;
}

.select-wrapper .select {
  line-height: 1.7;
  padding-left: 40px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  color: #fff;
  padding: 5px;
  margin-right: 0.5rem;
}

.heroSection {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.sectionItem1 {
  display: flex;
  gap: 75px;
  justify-content: center;
  align-items: center;
  padding: 0 56px;
  margin-bottom: 8px;
  h2 {
    margin-bottom: 19px;
  }

  p {
    width: 300px;
  }
}
.sectionItem2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 75px;
  justify-content: center;
  align-items: center;
  padding: 0 56px;

  h2 {
    width: 547px;
    margin-bottom: 19px;
  }

  p {
    width: 300px;
  }
}

/* FAQs */

.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
  border-top: 6px solid #333;
}

.faq h2 {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 600;
}

.accordion {
  margin: 60px auto;
  width: 100%;
  max-width: 900px;
}

.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}

.accordion li label:hover {
  background-color: #605d5d;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: #303030;
  margin-bottom: 2px;
  position: relative;
  cursor: pointer;
}

label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}

input[type="radio"] {
  display: none;
}

.accordion .content {
  background: #303030;
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}

.accordion input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}

.faq .email-signup {
  margin: 20px auto 60px;
}

.faq small {
  font-size: 20px;
}

.email-signup {
  width: 850px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  overflow: hidden;
  margin: 20px auto 60px;
}

.email-signup input {
  flex: 1;
  font-size: 18px;
  border: 1px solid #777;
  padding: 15px;
  margin-left: 20px;
  color: black;
  border-radius: 3px;
  background-color: white;
  opacity: 0.8;
}

.email-signup button {
  background: #db0001;
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 3px;
  margin-left: 10px;
}

/* FAQs end */

/* Footer */

footer {
  margin: 0 auto;
  display: flex;
  border-top: 8px solid #333;
  padding-inline: 510px;
  color: 757575;
  display: flex;
  flex-direction: column;
  gap: 20px;

  a {
    text-decoration: none;
  }

  p {
    color: #757575;
    margin-bottom: 15px;
  }

  h4 {
    color: #757575;
    margin-left: 25px;
  }
}

.footer__row__2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.footer__row__3 > .dropdown__container {
  width: fit-content;
  color: #757575;
}

.footer__row__3 > .dropdown__container > .language__drop__down {
  color: #757575;
}

.footer__row__4 {
  margin-left: 20px;
}

/* Footer End */
